version: '3.7'

services:
  api:
    build: .
    depends_on:
      db:
        condition: service_healthy
    ports: 
      - "3000:3000"
    networks:
      - app_network
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_app
      MYSQL_USER: admin
      MYSQL_PASSWORD: root
    volumes:
      - ./dbdata/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app_network  
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -proot"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
networks:
  app_network:
    driver: bridge
